@font-face {
    font-family: swiss-911;
    src: url(swiss911.woff);
}
@font-face {
    font-family: ITC-korinna;
    src: url(ITCkorinna.otf);
}
@font-face {
    font-family: swiss-911-extra;
    src: url(swiss911extra.ttf);
}

html, body {
    margin: 0px;
    height: 100%;
}


body {
    font-family: arial black;
    background-color: #0200A7;
    width: 100%;
}


#intro-div {
    text-align: center;
    text-align: -webkit-center;
    color: #dff;
}

#question-outer-div {
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: none;
}

#question-inner-div {
    width: 80vw;
    height: 80vh;
    padding: 9vh 10vw 11vh 10vw;
    vertical-align: middle;
}

#game-board-outer-div{
    display: none;
}

#h1 {
    text-align: center;
    font-size: 50px;
    color: red;
    text-decoration: underline;
}

#game-board {
    text-align: center;
    text-align: -webkit-center;
    border: solid #04050D 10px;
    border-collapse: collapse;
    background-color: #0200c3;
}

.cat {
    font-family: swiss-911-extra;
    letter-spacing: 2.5px;
    font-size: 40px;
    color: white;
    border-bottom: solid #04050D 10px;
    border-right: solid #04050D 6px;
    border-left: solid #04050D 6px;
    text-align: center;
    padding: 0px;

}

.money {
    font-family: swiss-911;
    text-shadow: #04050D;
    text-align: center;
    color: #eba820;
    border: solid #04050D 6px;
    padding: 0px;

}

.clue {
    font-family: ITC-korinna;
    font-weight: bold;
    font-size: 10vh;
    letter-spacing: 0.5vh;
    text-shadow: 1vh 1vh 1.25vh #04050D;
    color: white;
    text-align: center;
}